mat-card {
/* cursor: pointer; */
}

p {
  padding: 20px;
  font-weight: 100;
  opacity: 1;
}

button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70px;
  margin: auto;
  margin-bottom: 20px;
}
