<app-toolbar></app-toolbar>
<section>
<mat-grid-list cols="2" rowHeight="3:2" gutterSize="6">
  <mat-grid-tile>
    <mat-grid-tile-header style=" background-color: white;
  color: #202336;
  font-size: xx-large;
  font-family: mulish, serif; margin-left: 16px; margin-top: 16px">Who we are!</mat-grid-tile-header>
    <h3 style="font-family: 'Marcellus', serif;">

      Tracey safaris helps you turn your nature
      dreams into reality.<br>
      We are tourism professionals and expert
      guides having a long-term<br> successful
      work experience, in
      tourism industry.
      We have developed a selection<br> of safaris
      throughout Tanzania, offering an
      exceptional service and
      experience <br>of nature
      that will make you relax and enjoy
      throughout your safaris here<br> in Tanzania.
      With us be rest assured to be
      provided with  the best tourist
      service <br>at a fair price.

    </h3>
  </mat-grid-tile>
  <mat-grid-tile >
    <div style="background-image: url('./assets/img/aboutUs.svg'); background-repeat: no-repeat; height: 100%; width: 100%;"></div>
  </mat-grid-tile>
</mat-grid-list>
</section>

<!--contact form section-->
<section>
  <h3>contact form</h3>
</section>
<app-footer></app-footer>
