<app-toolbar></app-toolbar>

<div class="wrapper">
  <div class="top">
    <app-carousel [imgs]="imgs"></app-carousel>
    <div class="top">
      <div class="top-text">
        <h1>
          <p>
            <b> Tanzania Safari - Covering Tarangire, Serengeti, Ngorongoro, Lake Manyara</b>
          </p>
          <p>
            Starting from <br>
            <b>USD 2300</b>
          </p>
        </h1>

        <p>
          This safari takes you through the highlights of renowned parks of northern Tanzania, The tour starts at
          Tarangire, famous for its dense wildlife population than to Ngorongoro crater, which supports a year-round
          resident population of mammals. A visit to Serengeti follows a big game haven that hosts over 3 million large
          mammals. Finally, we head to Lake Manyara National Park an ornithologists’ paradise known for the elusive
          tree-climbing lions.
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
