
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="width: 100%">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <span style="flex: 1 1 auto;"></span>
      <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20.5" cy="20.5" r="20.5" fill="#1ABE84"/>
        <circle cx="20.5" cy="20.5" r="9" fill="#FB8F1D" stroke="white" stroke-width="3"/>
      </svg>

      <span style="flex: 1 1 auto;"></span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu" (click)='toggleNav()'>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <span style="flex: 1 1 auto;"></span>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/">
        <i *ngIf="isVisible" class="homeIcon customIcon"></i>
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i *ngIf="isVisible" class="customIcon safarisIcon"></i>
          Safaris
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/park">
            National Parks
          </a>
          <!-- <a class="navbar-item">
            Packages   <span id="itinerary">(itinerary ideas)</span>
          </a> -->
        </div>

      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i *ngIf="isVisible" class="customIcon trekkingIcon"></i>
          Trekking
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/kilimanjaro">
            Mt. Kilimanjaro
          </a>
          <a class="navbar-item">
            Mt. Meru
          </a>
          <!-- <a class="navbar-item">
            Itinerary Ideas
          </a> -->
        </div>
      </div>

      <a class="navbar-item" routerLink="/zanzibar">

        <i *ngIf="isVisible" class="zanzibarIcon customIcon"></i>

        Zanzibar
      </a>

      <a class="navbar-item" routerLink="/about">
        <span *ngIf="isVisible" class="icon has-text-info">
         <i  class="fas fa-info-circle" style="margin: 0 3px 1px 0 "></i>
            </span>
        About Us
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button mat-flat-button class="login_button">Login</button>
          <button mat-raised-button class="signup_button">Register</button>
        </div>
      </div>
    </div>
  </div>
</nav>
