
.navbar {
  width: 80%;
  margin: auto;
}

.customIcon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  /*margin: 0 3px 1px 0;*/
}
.zanzibarIcon  {
  background-image: url('../../assets/icons/beach-trees.svg');
}
.trekkingIcon {
  background-image: url('../../assets/icons/hiking-filled.svg');
}
.safarisIcon {
  background-image: url('../../assets/icons/destination.svg');
}
.homeIcon {
  background-image: url('../../assets/icons/home-o.svg');
}
.pageLink {
  /*margin-right: 15px;*/
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /*line-height: 19px;*/

  color: #202336;
}

button.pageLink:hover{
  color: #1ABE84;
}
.signup_button {
  background: #FB8F1D;
  border-radius: 8px;
  /*margin-right: 100px;*/
  width: 100px;
  /*top: 43px;*/
}
#itinerary {
  color: rgba(130, 130, 130, 1);
  font-size: x-small;
  margin-left: 3px;
}
.login_button {
  border: 1px solid #FB8F1D;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 25px;
  width: 100px;
  /*top: 43px;*/

  background-color: #ffffff;

  color: #FB8F1D;

  mix-blend-mode: normal;

}
mat-icon {
  margin-bottom: 13px;
  margin-right: 2px;
  height: 18px;
  width: 18px;
}
