app-toolbar {
  height: 8vh;
}

.wrapper {
  top: 8vh;
  overflow: auto;
}

.top {
  min-height: 40vh;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  padding: 20px;
  margin: 40px auto;
}

app-carousel {
  width: 100%;
}

.top-text {
  font-family: mulish-lite;
  font-size: 20px;
  font-weight: 100;
 width: 80%;
  opacity: .7;
  line-height: 30px;
  margin: 100px auto;
  /* height: 30vh; */
}

.under-button {
  height: 40vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-content: center;
  align-items: center;
}

.under-button button {
  width: 70%;
  margin: auto;
  height: 50px;
  background-color: #FB8F1D;
  color: white;
  font-size: 24px;
}
