.trekking-container {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.trekking-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.trekking-header h3 {
	font-size: 18px;
	font-family: mulish-lite;
}

.trekking-header h3 span {
	text-decoration: underline;
}

.trekking-in {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trekking-desc {
	min-width: 40%;
	height: fit-content;
}

.trekking-desc h1 {
	font-size: 24px;
	font-family: mulish;
}

.trekking-desc p {
	font-family: mulish-lite;
	margin-bottom: 20px;
	font-size: 16px;
	opacity: .6;
}

.trekking-desc button {
	width: 200px;
	padding: 10px;
	background-color: orange;
	color: #ffff;
	font-size: 18px;
	font-family: mulish;
	border: 0;
	border-radius: 10px;
	box-shadow: 1px 1px 20px #666;
}

.trekking-img {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

