<div class="destinations-container">

	<div class="destinations-header">
		<h1>Featured Safari Destinations</h1>
		<a href="#">View All</a>
	</div>

	<div class="destinations-in">
		
		<div class="destination">
			<div class='d-card'>
				<img src="./assets/img/pic1.webp">
				<div class="d-info">
					<label class="h2">Some Heading</label><br>
					<small>location</small>
				</div>
			</div>	
		</div>

		
		<div class="destination">
			<div class='d-card'>
				<img src="./assets/img/pic1.webp">
				<div class="d-info">
					<label class="h2">Some Heading</label><br>
					<small>location</small>
				</div>
			</div>	
		</div>

		
		<div class="destination">
			<div class='d-card'>
				<img src="./assets/img/pic1.webp">
				<div class="d-info">
					<label class="h2">Some Heading</label><br>
					<small>location</small>
				</div>
			</div>	
		</div>

		
		<div class="destination">
			<div class='d-card'>
				<img src="./assets/img/pic1.webp">
				<div class="d-info">
					<label class="h2">Some Heading</label><br>
					<small>location</small>
				</div>
			</div>	
		</div>


	</div>

</div>
