<div class="destinations-container">

	<div class="destinations-header">
		<h1 data-aos="fade-right" data-aos-easing="ease-in-sine" style="font-family: 'Playfair Display', serif">Featured Safari Destinations</h1>
		<a href="#" data-aos="fade-left" data-aos-easing="ease-in-sine"  >View All
	      <i class="fas fa-angle-right" style="margin-left: 2px"></i>
	    </a>
	</div>

	<div class="destinations-in" data-aos="fade-in">

		<div class="destination" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
			<div class='d-card'>
				<img src="./assets/img/magdalena-kula-manchee-Ilz-VA5qGFI-unsplash.jpg">
				<div class="d-info">
					<label class="h2">Serengeti</label><br>
					<small>Arusha</small>
				</div>
			</div>
		</div>


		<div class="destination" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
			<div class='d-card'>
				<img src="./assets/img/ray-rui-PHdHAZIvXN0-unsplash.jpg">
				<div class="d-info">
					<label class="h2">Ngorongoro crater</label><br>
					<small>Manyara</small>
				</div>
			</div>
		</div>


		<div class="destination" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
			<div class='d-card'>
				<img src="./assets/img/uhuruPeak.jpg">
				<div class="d-info">
					<label class="h2">Uhuru peak</label><br>
					<small>Kilimanjaro</small>
				</div>
			</div>
		</div>


		<div class="destination" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
			<div class='d-card'>
				<img src="./assets/img/lakeManyara.jpg">
				<div class="d-info">
					<label class="h2">Lake Manyara</label><br>
					<small>Manyara</small>
				</div>
			</div>
		</div>


	</div>

	<div class="bottom-destinations-header">
		<a href="#" data-aos="fade-up-left">
			View all
	      <i class="fas fa-angle-right" style="margin-left: 2px"></i>
	    </a>
	</div>

</div>
