	<div class="trending-container">

		<div class="trending-header">
			<h1>Trending Reviews</h1>
			<a href="#">View all ></a>
		</div>

		<div>

		<div class="trending-cards">
		
			<div class="trending-card" data-aos="fade-up" data-aos-duration="3000">
				<div class="trending-card-top">
					<img src="./assets/img/pic1.webp">
					<h4>
						The many benefits of taking a healing holiday
					</h4>
				</div>
				<p>
					Healing holidays come with many benefits. I will take you through many. So read more now 
				</p>
				<p>
					<a href="#">
						Read More
					</a>
				</p>
			</div>

			<div class="trending-card" data-aos="fade-up" data-aos-duration="2500">
				<div class="trending-card-top">
					<img src="./assets/img/pic2.webp">
					<h4>
						Wanna be colorfull? Sign up for free.
					</h4>
				</div>
				<p>
					colorfull holidays come with many benefits. I will take you through many. So read more now. Go on.
				</p>
				<p>
					<a href="#">
						Read More
					</a>
				</p>
			</div>
			<div class="trending-card" data-aos="fade-up" data-aos-duration="2500">
				<div class="trending-card-top">
					<img src="./assets/img/pic3.webp">
					<h4>
						Just be you girl. Meet cheerfull girls like me.
					</h4>
				</div>
				<p>
					You girl holidays come with many benefits. I will take you through many. So read more now. Go on.
				</p>
				<p>
					<a href="#">
						Read More
					</a>
				</p>
			</div>

			<div class="trending-card" data-aos="fade-up" data-aos-duration="3000">
				<div class="trending-card-top">
					<img src="./assets/img/pic4.webp">
					<h4>
						Like the feather. A powerful poem from the 14th Century.
					</h4>
				</div>
				<p>
					A powerful poem holidays come with many benefits. I will take you through many. So read more now. Go on.
				</p>
				<p>
					<a href="#">
						Read More
					</a>
				</p>
			</div>

		</div>

	</div>

</div>